# Data Processing

In [143]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer

In [144]:
songs = pd.read_csv('ml-03-data-processing-songs-dataset.csv')
songs.head()

,Index,Title,Artist,Top Genre,Year,Month,Beats Per Minute (BPM),Energy,Danceability,Loudness (dB),Liveness,Valence,Length (Duration),Acousticness,Speechiness,Popularity
0,1,Sunrise,Norah Jones,adult standards,2004.0,10,157.0,30.0,53.0,-14.0,11.0,68.0,201,94.0,3.0,71.0
1,2,Black Night,Deep Purple,album rock,2000.0,3,135.0,79.0,50.0,-11.0,17.0,81.0,207,17.0,7.0,39.0
2,3,Clint Eastwood,Gorillaz,alternative hip hop,2001.0,6,168.0,69.0,66.0,-9.0,7.0,52.0,341,2.0,17.0,69.0
3,4,The Pretender,Foo Fighters,alternative metal,2007.0,1,173.0,96.0,43.0,-4.0,3.0,37.0,269,0.0,4.0,76.0
4,5,Waitin' On A Sunny Day,Bruce Springsteen,classic rock,2002.0,8,106.0,82.0,58.0,-5.0,10.0,87.0,256,1.0,3.0,59.0

In [145]:
songs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1994 entries, 0 to 1993
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Index                   1994 non-null   int64
 1   Title                   1991 non-null   object
 2   Artist                  1986 non-null   object
 3   Top Genre               1986 non-null   object
 4   Year                    1987 non-null   float64
 5   Month                   1994 non-null   object
 6   Beats Per Minute (BPM)  1985 non-null   float64
 7   Energy                  1986 non-null   float64
 8   Danceability            970 non-null    float64
 9   Loudness (dB)           1987 non-null   float64
 10  Liveness                1986 non-null   float64
 11  Valence                 960 non-null    float64
 12  Length (Duration)       1985 non-null   object
 13  Acousticness            1986 non-null   float64
 14  Speechiness             1990 non-null   float64
 15  Popularity              1987 non-null   float64
dtypes: float64(10), int64(1), object(5)
memory usage: 249.4+ KB

More than 50% of the data for danceability and valence are null values. Let's remove those columns.

In [146]:
songs.dropna(thresh=len(songs.axes[1])/2,axis=0,inplace=True)
songs.drop(columns=['Danceability','Valence'],inplace=True)

In [147]:
songs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1987 entries, 0 to 1993
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Index                   1987 non-null   int64
 1   Title                   1987 non-null   object
 2   Artist                  1984 non-null   object
 3   Top Genre               1983 non-null   object
 4   Year                    1984 non-null   float64
 5   Month                   1987 non-null   object
 6   Beats Per Minute (BPM)  1983 non-null   float64
 7   Energy                  1983 non-null   float64
 8   Loudness (dB)           1983 non-null   float64
 9   Liveness                1983 non-null   float64
 10  Length (Duration)       1982 non-null   object
 11  Acousticness            1984 non-null   float64
 12  Speechiness             1986 non-null   float64
 13  Popularity              1985 non-null   float64
dtypes: float64(8), int64(1), object(5)
memory usage: 232.9+ KB

In [148]:
for index in range(0,len(list(songs.index))):
    try: 
        if ',' in songs.iloc[index]['Length (Duration)']:
            num = songs.iloc[index]['Length (Duration)'].split(',')
            new_num =''.join(num)
            songs.replace(songs.iloc[index]['Length (Duration)'],new_num,inplace=True,limit=1)
    except:
        pass

In [149]:
months = {"Jan":1,"Feb":2,"Mar":3,"Apr":4,"May":5,"Jun":6,"Jul":7,"Aug":8,"Sep":9,"Oct":10,"Nov":11,"Dec":12}

for index in range(0,len(list(songs.index))):
    try:
        if songs.iloc[index]['Month'] in list(months.keys()):
            songs.replace(songs.iloc[index]['Month'], str(months[songs.iloc[index]['Month']]), inplace = True)
    except:
        pass

Month and Length (Duration) contain string datatypes when these columns should be int datatypes. So let's fix that.

In [150]:
songs.Month.value_counts()

9     188
10    180
4     176
6     171
7     166
1     164
5     161
12    161
8     158
2     158
3     156
11    148
Name: Month, dtype: int64

In [158]:
songs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1984 entries, 0 to 1993
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Index                   1984 non-null   int64
 1   Title                   1984 non-null   object
 2   Artist                  1983 non-null   object
 3   Top Genre               1983 non-null   object
 4   Year                    1984 non-null   float64
 5   Month                   1984 non-null   int8
 6   Beats Per Minute (BPM)  1983 non-null   float64
 7   Energy                  1982 non-null   float64
 8   Loudness (dB)           1981 non-null   float64
 9   Liveness                1981 non-null   float64
 10  Length (Duration)       1981 non-null   float64
 11  Acousticness            1982 non-null   float64
 12  Speechiness             1983 non-null   float64
 13  Popularity              1983 non-null   float64
dtypes: float64(9), int64(1), int8(1), object(3)
memory usage: 218.9+ KB

In [151]:
songs['Length (Duration)'] = pd.to_numeric(songs['Length (Duration)'],downcast='integer')

In [152]:
songs["Month"] = pd.to_numeric(songs['Month'],downcast='integer')

With the length (duration) now cast as a numeric datatype, we can include that in our descriptive statistics.

In [154]:
songs['Year'].replace(92,1992, inplace=True)
songs = songs[songs.Year.notna()]

In [155]:
songs.describe()

,Index,Year,Month,Beats Per Minute (BPM),Energy,Loudness (dB),Liveness,Length (Duration),Acousticness,Speechiness,Popularity
count,1984.000000,1984.000000,1984.000000,1983.000000,1982.000000,1981.000000,1981.000000,1981.000000,1982.000000,1983.000000,1983.000000
mean,996.207157,1992.986391,6.522681,120.234493,59.644299,-9.018173,19.009086,262.620899,28.929364,4.993444,59.497731
std,575.972060,16.112981,3.419485,28.639923,22.172175,3.652130,16.737453,93.843197,29.040765,4.410045,14.367066
min,1.000000,1956.000000,1.000000,15.000000,3.000000,-27.000000,2.000000,93.000000,0.000000,2.000000,11.000000
25%,496.750000,1979.000000,4.000000,99.000000,42.000000,-11.000000,9.000000,212.000000,3.000000,3.000000,49.000000
50%,996.500000,1993.000000,7.000000,119.000000,61.000000,-9.000000,12.000000,245.000000,18.000000,4.000000,62.000000
75%,1494.250000,2007.000000,9.000000,136.000000,78.000000,-6.000000,23.000000,290.000000,50.000000,5.000000,71.000000
max,1994.000000,2019.000000,12.000000,305.000000,100.000000,-2.000000,99.000000,1412.000000,99.000000,55.000000,100.000000

## Outliers for each column:

In [156]:
def outlier_check(value, mean, std):
    if ((mean + 3*std) < value) or ((mean - 3*std)> value):
        return [True, value]
    else:
        return [False, value]
    
for x in list(songs.columns):
    try:
        outlier_list = []
        print("\n")
        print(x)
        for y in songs[x]:
            if outlier_check(y,songs[x].mean(),songs[x].std())[0]:
                outlier_list.append(outlier_check(y,songs[x].mean(),songs[x].std())[1])
        print(outlier_list)
    except:
        print("Non-numeric column")

Index
[]


Title
Non-numeric column


Artist
Non-numeric column


Top Genre
Non-numeric column


Year
[]


Month
[]


Beats Per Minute (BPM)
[18.0, 305.0, 15.0, 297.0]


Energy
[]


Loudness (dB)
[-21.0, -20.0, -22.0, -22.0, -20.0, -20.0, -24.0, -20.0, -21.0, -22.0, -24.0, -27.0, -21.0, -21.0, -22.0, -21.0, -21.0, -20.0, -21.0, -22.0, -22.0, -21.0]


Liveness
[81.0, 70.0, 93.0, 79.0, 70.0, 97.0, 70.0, 83.0, 72.0, 97.0, 97.0, 87.0, 96.0, 71.0, 99.0, 92.0, 78.0, 95.0, 71.0, 90.0, 81.0, 95.0, 87.0, 91.0, 85.0, 89.0, 76.0, 73.0, 72.0, 85.0, 73.0, 86.0, 76.0, 73.0, 82.0, 77.0, 97.0, 85.0, 99.0, 78.0, 98.0, 96.0, 93.0, 85.0, 94.0, 77.0, 91.0, 96.0, 84.0, 97.0, 76.0, 73.0, 92.0, 80.0, 76.0, 83.0, 76.0]


Length (Duration)
[639.0, 629.0, 602.0, 809.0, 598.0, 598.0, 671.0, 620.0, 663.0, 1412.0, 581.0, 1121.0, 559.0, 575.0, 1367.0, 811.0, 576.0, 715.0, 653.0, 590.0, 966.0, 859.0, 659.0, 564.0, 703.0, 1292.0]


Acousticness
[]


Speechiness
[25.0, 26.0, 30.0, 23.0, 24.0, 19.0, 24.0, 20.0, 39.0, 23.0, 20.0, 19.0, 32.0, 19.0, 24.0, 44.0, 30.0, 24.0, 25.0, 31.0, 20.0, 46.0, 38.0, 55.0, 22.0, 23.0, 32.0, 36.0, 19.0, 31.0, 26.0, 28.0, 30.0, 20.0, 30.0, 29.0, 31.0, 19.0, 27.0, 32.0, 39.0, 41.0]


Popularity
[16.0, 14.0, 15.0, 13.0, 16.0, 16.0, 15.0, 12.0, 11.0]

Finally, let's convert the year column to an int datatype.

In [159]:
songs.Year = songs.Year.astype(int)

Now we can start filling in null values with Scikit Learn and other preliminary steps before testing ML models.

## Imputing missing values with SciKit Learn

In [163]:
mean_imp = SimpleImputer(missing_values=np.nan, strategy='mean')

mode_imp = SimpleImputer(strategy='most_frequent')

for x in list(songs.columns)[1:]:
    if type(songs[x][0])==type(0.0) or type(songs[x][0])==type(1):
        songs[x] = mean_imp.fit_transform(songs[x].values.reshape(-1,1))
    else:
        songs[x] = mode_imp.fit_transform(songs[x].values.reshape(-1,1))

In [164]:
songs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1984 entries, 0 to 1993
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Index                   1984 non-null   int64
 1   Title                   1984 non-null   object
 2   Artist                  1984 non-null   object
 3   Top Genre               1984 non-null   object
 4   Year                    1984 non-null   int32
 5   Month                   1984 non-null   int8
 6   Beats Per Minute (BPM)  1984 non-null   float64
 7   Energy                  1984 non-null   float64
 8   Loudness (dB)           1984 non-null   float64
 9   Liveness                1984 non-null   float64
 10  Length (Duration)       1984 non-null   float64
 11  Acousticness            1984 non-null   float64
 12  Speechiness             1984 non-null   float64
 13  Popularity              1984 non-null   float64
dtypes: float64(8), int32(1), int64(1), int8(1), object(3)
memory usage: 291.2+ KB

## Creating Age column

In [168]:
import datetime

In [172]:
datetime_strs = []
for idx, row in songs.iterrows():
    datetime_strs.append(datetime.date(row['Year'],row['Month'],1))

songs['Combined Dates'] = datetime_strs

In [182]:
today/365

2022.3890410958904

In [183]:
today = datetime.datetime.today().toordinal()

ages = []
for dates in songs['Combined Dates'].values:
    ages.append((today - dates.toordinal())/365)
    
songs['Age'] = ages

In [184]:
songs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1984 entries, 0 to 1993
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Index                   1984 non-null   int64
 1   Title                   1984 non-null   object
 2   Artist                  1984 non-null   object
 3   Top Genre               1984 non-null   object
 4   Year                    1984 non-null   int32
 5   Month                   1984 non-null   int8
 6   Beats Per Minute (BPM)  1984 non-null   float64
 7   Energy                  1984 non-null   float64
 8   Loudness (dB)           1984 non-null   float64
 9   Liveness                1984 non-null   float64
 10  Length (Duration)       1984 non-null   float64
 11  Acousticness            1984 non-null   float64
 12  Speechiness             1984 non-null   float64
 13  Popularity              1984 non-null   float64
 14  Combined Dates          1984 non-null   object
 15  Age                     1984 non-null   float64
dtypes: float64(9), int32(1), int64(1), int8(1), object(4)
memory usage: 322.2+ KB

In [186]:
songs[0:10]

,Index,Title,Artist,Top Genre,Year,Month,Beats Per Minute (BPM),Energy,Loudness (dB),Liveness,Length (Duration),Acousticness,Speechiness,Popularity,Combined Dates,Age
0,1,Sunrise,Norah Jones,adult standards,2004,10,157.0,30.0,-14.0,11.0,201.0,94.0,3.0,71.0,2004-10-01,17.306849
1,2,Black Night,Deep Purple,album rock,2000,3,135.0,79.0,-11.0,17.0,207.0,17.0,7.0,39.0,2000-03-01,21.895890
2,3,Clint Eastwood,Gorillaz,alternative hip hop,2001,6,168.0,69.0,-9.0,7.0,341.0,2.0,17.0,69.0,2001-06-01,20.643836
3,4,The Pretender,Foo Fighters,alternative metal,2007,1,173.0,96.0,-4.0,3.0,269.0,0.0,4.0,76.0,2007-01-01,15.054795
4,5,Waitin' On A Sunny Day,Bruce Springsteen,classic rock,2002,8,106.0,82.0,-5.0,10.0,256.0,1.0,3.0,59.0,2002-08-01,19.476712
5,6,The Road Ahead (Miles Of The Unknown),City To City,alternative pop rock,2004,2,99.0,46.0,-9.0,14.0,247.0,0.0,2.0,45.0,2004-02-01,17.972603
6,7,She Will Be Loved,Maroon 5,pop,2002,9,102.0,71.0,-6.0,13.0,257.0,6.0,3.0,74.0,2002-09-01,19.391781
7,8,Knights of Cydonia,Muse,modern rock,2006,10,137.0,96.0,-5.0,12.0,366.0,0.0,14.0,69.0,2006-10-01,15.306849
8,9,Mr. Brightside,The Killers,modern rock,2004,2,148.0,92.0,-4.0,10.0,223.0,0.0,8.0,77.0,2004-02-01,17.972603
9,10,Without Me,Eminem,detroit hip hop,2002,12,112.0,67.0,-3.0,24.0,290.0,0.0,7.0,82.0,2002-12-01,19.142466

## Dummy variables for categorical features:

In [187]:
pd.get_dummies(songs, columns=['Title','Top Genre','Artist'],drop_first=True)

,Index,Year,Month,Beats Per Minute (BPM),Energy,Loudness (dB),Liveness,Length (Duration),Acousticness,Speechiness,...,Artist_Yann Tiersen,Artist_Yes,Artist_Youp van 't Hek,Artist_Youssou N'Dour,Artist_Yusuf / Cat Stevens,Artist_ZZ Top,Artist_Zucchero,Artist_a-ha,Artist_blink-182,Artist_Édith Piaf
0,1,2004,10,157.0,30.0,-14.0,11.0,201.0,94.0,3.0,...,0,0,0,0,0,0,0,0,0,0
1,2,2000,3,135.0,79.0,-11.0,17.0,207.0,17.0,7.0,...,0,0,0,0,0,0,0,0,0,0
2,3,2001,6,168.0,69.0,-9.0,7.0,341.0,2.0,17.0,...,0,0,0,0,0,0,0,0,0,0
3,4,2007,1,173.0,96.0,-4.0,3.0,269.0,0.0,4.0,...,0,0,0,0,0,0,0,0,0,0
4,5,2002,8,106.0,82.0,-5.0,10.0,256.0,1.0,3.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1989,1990,1958,4,94.0,21.0,-12.0,11.0,128.0,84.0,7.0,...,0,0,0,0,0,0,0,0,0,0
1990,1991,1958,6,175.0,76.0,-8.0,76.0,136.0,73.0,6.0,...,0,0,0,0,0,0,0,0,0,0
1991,1992,1959,4,168.0,80.0,-9.0,31.0,162.0,74.0,7.0,...,0,0,0,0,0,0,0,0,0,0
1992,1993,1959,10,174.0,26.0,-13.0,7.0,324.0,54.0,4.0,...,0,0,0,0,0,0,0,0,0,0
1993,1994,1959,6,133.0,50.0,-10.0,16.0,148.0,74.0,3.0,...,0,0,0,0,0,0,0,0,0,0

## Machine Learning training and test sets for target variable 'Energy'

In [191]:
X = songs.drop(columns='Energy')

In [192]:
X.head(3)

,Index,Title,Artist,Top Genre,Year,Month,Beats Per Minute (BPM),Loudness (dB),Liveness,Length (Duration),Acousticness,Speechiness,Popularity,Combined Dates,Age
0,1,Sunrise,Norah Jones,adult standards,2004,10,157.0,-14.0,11.0,201.0,94.0,3.0,71.0,2004-10-01,17.306849
1,2,Black Night,Deep Purple,album rock,2000,3,135.0,-11.0,17.0,207.0,17.0,7.0,39.0,2000-03-01,21.895890
2,3,Clint Eastwood,Gorillaz,alternative hip hop,2001,6,168.0,-9.0,7.0,341.0,2.0,17.0,69.0,2001-06-01,20.643836

In [195]:
Y = songs['Energy']

In [196]:
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size = 0.30,random_state=2)

In [198]:
X_train.describe()

,Index,Year,Month,Beats Per Minute (BPM),Loudness (dB),Liveness,Length (Duration),Acousticness,Speechiness,Popularity,Age
count,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000,1388.000000
mean,986.001441,1993.112392,6.554035,120.168588,-9.070605,18.974784,264.632565,28.795389,5.049712,59.524496,28.490356
std,574.561357,16.236546,3.448974,28.019261,3.722831,17.057605,100.005777,29.053513,4.367373,14.416259,16.258946
min,1.000000,1956.000000,1.000000,15.000000,-27.000000,2.000000,93.000000,0.000000,2.000000,13.000000,2.131507
25%,496.750000,1979.000000,4.000000,99.000000,-11.000000,9.000000,213.000000,3.000000,3.000000,49.000000,13.723288
50%,979.500000,1994.000000,7.000000,120.000000,-9.000000,12.000000,246.000000,18.000000,4.000000,62.000000,27.858904
75%,1473.750000,2008.000000,10.000000,136.000000,-6.000000,22.000000,290.250000,50.000000,5.000000,71.000000,42.989041
max,1994.000000,2019.000000,12.000000,204.000000,-2.000000,99.000000,1412.000000,99.000000,46.000000,100.000000,65.506849

In [199]:
X_test.describe()

,Index,Year,Month,Beats Per Minute (BPM),Loudness (dB),Liveness,Length (Duration),Acousticness,Speechiness,Popularity,Age
count,596.000000,596.000000,596.000000,596.000000,596.000000,596.000000,596.000000,596.000000,596.000000,596.000000,596.000000
mean,1019.974832,1992.692953,6.449664,120.395973,-8.885906,19.048658,257.696309,29.144295,4.859060,59.451342,28.918861
std,579.030265,15.831084,3.351530,30.037023,3.474817,15.946738,77.265123,29.033553,4.505862,14.256922,15.839486
min,3.000000,1958.000000,1.000000,37.000000,-22.000000,2.000000,102.000000,0.000000,2.000000,11.000000,2.131507
25%,500.250000,1979.000000,4.000000,99.000000,-11.000000,9.000000,210.000000,4.000000,3.000000,50.000000,15.558904
50%,1046.000000,1993.000000,6.000000,118.000000,-8.000000,13.000000,243.500000,18.500000,4.000000,61.500000,28.734247
75%,1528.500000,2006.000000,9.000000,137.000000,-6.000000,24.000000,287.000000,50.250000,5.000000,70.000000,42.179452
max,1993.000000,2019.000000,12.000000,305.000000,-3.000000,97.000000,715.000000,98.000000,55.000000,98.000000,63.841096

In [201]:
y_train.describe()

count    1388.000000
mean       59.917867
std        22.210772
min         4.000000
25%        42.000000
50%        61.000000
75%        78.000000
max       100.000000
Name: Energy, dtype: float64

In [202]:
y_test.describe()

count    596.000000
mean      59.062081
std       22.071949
min        3.000000
25%       42.750000
50%       61.000000
75%       77.000000
max       99.000000
Name: Energy, dtype: float64